accelerate
codetiming
datasets
liger-kernel
mathruler
omegaconf
pandas
peft
pillow
pyarrow>=15.0.0
pylatexenc
qwen-vl-utils
ray[default]
tensordict
torchdata
torch==2.6.0
torchvision==0.21.0
flash-attn==2.8.3
transformers==4.51.1
vllm==0.8.5.post1
numpy==1.26.4
wandb
autogen
tensorboard